<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Revit2Navis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Revit2Navis.Properties.Settings>
            <setting name="ExportParts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportElementIds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertElementProperties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportRoomAsAttribute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportUrls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DivideFileIntoLevels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportRoomGeometry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindMissingMaterials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavisworksParameter" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="NavisworksCoordinate" serializeAs="String">
                <value>Internal</value>
            </setting>
            <setting name="NavisworksExportScope" serializeAs="String">
                <value>View</value>
            </setting>
        </Revit2Navis.Properties.Settings>
    </userSettings>
</configuration>